.clubPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: calc(100vh - 72px - 48px);
}

.clubPage ul {
  list-style-type: none;
}

.clubMember {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.member {
  margin-bottom: 0.5rem;
}

.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.header img {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: center;
}
