h1 {
  margin-top: 1rem;
}

.clubPage {
  min-height: calc(100vh - 72px - 48px - 1rem);
}

.clubPage ul {
  list-style-type: none;
}

.clubCard {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-300);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-600);
}

.clubCard:hover {
  background-color: var(--primary-400);
}

.clubName {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.clubDescription {
  margin-bottom: 0.25rem;
}
