:root {
  --primary-950: #121616;
  --primary-900: #27302f;
  --primary-800: #4c5d5b;
  --primary-700: #738c89;
  --primary-600: #a0b1af;
  --primary-500: #ced7d6;
  --primary-400: #d8dfde;
  --primary-300: #e3e8e7;
  --primary-200: #ebefef;
  --primary-100: #f7f8f8;
  --primary-50: #f9fafa;
}
