/* General Layout */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
p,
a,
figcaption {
  color: var(--primary-900);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: 2rem;
  line-height: 130%;
}

h2 {
  font-size: 1.75rem;
  line-height: 135%;
}

h3 {
  font-size: 1.5rem;
  line-height: 135%;
}

p {
  font-size: 1rem;
  line-height: 150%;
  text-wrap: pretty;
}

.text-xl {
  font-size: 1.25rem;
}

.text-l {
  font-size: 1.125rem;
}

.text-m {
  font-size: 1rem;
}

.container > * {
  max-width: 1280px;
  margin-inline: auto;
}

@media (max-width: 1200px) {
  .container {
    margin-inline: 2rem;
  }
}
