.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.navbar .navLogo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.navLogo p {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar a {
  color: var(--primary-900);
  text-decoration: none;
  font-size: 1.25rem;
}

.navbar a:hover {
  color: var(--secondary);
}

.navbar .navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .navLogo img {
  width: 48px;
  height: 48px;
}
