.footer .footerLinks {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.footer {
  padding-block: 1.5rem;
  background-color: var(--primary-900);
}

.footer p,
.footer a {
  color: var(--primary-100);
}

.footer a {
  text-decoration: none;
}

.footer a:hover,
.footer a:focus {
  color: var(--secondary);
}

.footer p {
  display: inline-block;
  margin: 0px;
}
